<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <span th:replace="~{home :: boostrap}"></span>
    <title>Etudiant</title>
</head>
<body>
<div class="container">
    <h1 class="h1">Informations de l'étudiant</h1>
    <div th:if="${student != null}" class="border rounded bg-primary-subtle">
        <div><span th:text="${student.getFirstname()}"/> <span th:text="${student.getLastname()}"/></div>
        <div>Âge : <span th:text="${student.getAge()}"/> ans</div>
        <div>Email : <span th:text="${student.getEmail()}"/></div>
    </div>

    <div th:if="${student != null}">
        <a th:href="@{/delete/{id}(id=${student.getId()})}"> <button class="btn btn-danger">Supprimer l'étudiant</button></a>
        <a th:href="@{/update/{id}(id=${student.getId()})}"> <button class="btn btn-warning">Modifier l'étudiant</button></a>

    </div>

    <a th:href="@{/list}"><button class="btn btn-secondary">Retour à la liste</button></a>
    <a th:href="@{/}"><button class="btn btn-secondary">Retour à l'accueil</button></a>

</div>
</body>
</html>