<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <span th:replace="~{home :: boostrap}"></span>
    <title>Liste des étudiants</title>
</head>
<body>
<div class="container">
    <h1 class="h1">Liste des étudiants</h1>
    <div th:if="${liste != null}">
        <div th:each="s : ${liste}" class="border rounded p-1 m-2 bg-primary-subtle">
            <span th:text="${s.getFirstname()}"/> <span th:text="${s.getLastname()}"/>
                <a th:href="@{/student/{id}(id=${s.getId()})}"> <button class="btn btn-primary">Détails</button></a>
        </div>
    </div>

    <a th:href="@{/}"><button class="btn btn-secondary">Retour à l'accueil</button></a>
</div>
</body>
</html>